<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="public/style.css">
    <title>Nodedrop</title>
  </head>
  <body>
    <div class="container-fluid" id="app">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1"
                aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-1 bg-dark" id="sidebar">
          <ul class="nav flex-column">
              <li class="nav-item active">
                  <a @click="comp.active= 'home'" class="nav-link"
                    href="#">Home</a>
                </li>
            <li class="nav-item">
              <a @click="comp.active= 'settings'" class="nav-link"
                href="#">Settings</a>
            </li>
            <li class="nav-item">
              <a @click="comp.active= 'users'" class="nav-link"
                href="#">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1"
                aria-disabled="true">Plugins</a>
            </li>
            <li class="nav-item" v-for="plugin in plugins">
                <a v-if="plugin.webSettings" @click="comp.active = 'plugin/' + plugin.name" class="nav-link" href="#">{{plugin.name}}</a>
            </li>
          </ul>
        </div>
        <div class="col-11" id="content">
          <div v-if="comp.active === 'home'">
            <h1>Nodedrop</h1>
            <p>Plugins: {{plugins.length}}</p>
            <p>Users: {{users.length}}</p>
            <button class="btn-danger">restart</button>
          </div> <!-- End Home -->
          <div v-if="comp.active === 'settings'" style="max-width:
            400px;">
            <h1>Settings</h1>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter email">
                <small id="emailHelp" class="form-text
                  text-muted">We'll never share your email
                  with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control"
                  id="exampleInputPassword1"
                  placeholder="Password">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input"
                  id="exampleCheck1">
                <label class="form-check-label"
                  for="exampleCheck1">Check me out</label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div> <!-- End Settings -->
          <div v-if="comp.active === 'users'">
            <h1>Users</h1>
            <button @click="getUsers">Refresh</button>
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Username</th>
                  <th scope="col">Password</th>
                  <th scope="col">Role</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="user in users">
                  <th scope="row">{{user.id}}</th>
                  <td>{{user.username}}</td>
                  <td>{{user.password}}</td>
                  <td>{{user.role}}</td>
                </tr>
              </tbody>
            </table>
          </div> <!-- End Userx  -->
          <div v-if="comp.active.startsWith('plugin')">
            <iframe width="100%" height="100%" frameBorder="0" :src="comp.active + '/settings'"></iframe>
          </div> <!-- End Plugins -->
        </div>
      </div>
    </div>
  </body>
  <script>
  new Vue({
    el: "#app",
    data: {
      message: "Hey!",
      users: [],
      plugins: [],
      comp: {
        active: 'home', // e.g settings, home, users
      }
    },
    methods: {
      getUsers() {
        const _this = this
        axios.get('/api/v1/admin/users', {withCredentials: true}).then((response) => {
          _this.users = response.data.users
        })
      },
      getPlugins() {
        const _this = this
        axios.get('/api/v1/admin/info/plugins', {withCredentials: true}).then((response) => {
          _this.plugins = response.data.plugins
        })
        }
    },
    mounted() {
      this.getPlugins()
      this.getUsers()
    }
  })
        </script>
</html>