<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
      src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/alertify.min.js"></script>
    <link rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/alertify.min.css"
      />
    <link rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/themes/bootstrap.min.css"
      />
    <link rel="stylesheet" href="public/style.css">
    <title>Nodedrop</title>
  </head>
  <body>
    <div class="container-fluid" id="app">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1"
                aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-1 bg-dark" id="sidebar">
          <ul class="nav flex-column">
            <li class="nav-item active">
              <a @click="comp.active= 'home'" class="nav-link"
                href="#">Home</a>
            </li>
            <li class="nav-item">
              <a @click="comp.active= 'settings'" class="nav-link"
                href="#">Settings</a>
            </li>
            <li class="nav-item">
              <a @click="comp.active= 'users'" class="nav-link"
                href="#">Users</a>
            </li>
            <li class="nav-item">
              <a @click="comp.active= 'ignore'" class="nav-link" href="#">Ignore
                List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1"
                aria-disabled="true">Plugins</a>
            </li>
            <li class="nav-item" v-for="plugin in plugins">
              <a v-if="plugin.webSettings" @click="comp.active= 'plugin/' +
                plugin.name" class="nav-link" href="#">{{plugin.name}}</a>
            </li>
          </ul>
        </div>
        <div class="col-11" id="content">
          <div v-if="comp.active === 'home'">
            <h1>Nodedrop</h1>
            <p>Plugins: {{plugins.length}}</p>
            <p>Users: {{users.length}}</p>
            <button @click="restart" class="btn btn-danger">restart</button>
          </div> <!-- End Home -->
          <!-- Settings -->
          <div v-if="comp.active === 'settings'" style="max-width:
            400px;">
            <h1>Settings</h1>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter email">
                <small id="emailHelp" class="form-text
                  text-muted">We'll never share your email
                  with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control"
                  id="exampleInputPassword1"
                  placeholder="Password">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input"
                  id="exampleCheck1">
                <label class="form-check-label"
                  for="exampleCheck1">Check me out</label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div> <!-- End Settings -->
          <!-- Users -->
          <div v-if="comp.active === 'users'">
            <h1>Users</h1>
            <button @click="getUsers">Refresh</button>
            <button type="button" class="btn btn-primary float-right"
              data-toggle="modal"
              data-target="#addUSerModal">
              Add User
            </button>
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Username</th>
                  <th scope="col">Password</th>
                  <th scope="col">Role</th>
                  <th scope="col">Delete</th>
                  <th scope="col">Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="user in users">
                  <th scope="row">{{user._id.toString()}}</th>
                  <td>{{user.username}}</td>
                  <td>{{user.password}}</td>
                  <td>{{user.role}}</td>
                  <td><button @click="removeUser(user.username)"
                      class="btn btn-danger">Delete</button>
                  </td>
                  <td>
                    <button @click="openEditUserModal(user._id.toString(), user.username, user.role)" class="btn btn-primary">Edit</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- Modal -->
            <div class="modal fade" id="editUserModal" tabindex="-1"
              role="dialog" aria-labelledby="label"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="label">Edit User ({{comp.users.id}})</h5>
                    <button type="button" class="close" data-dismiss="modal"
                      aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="ircAccount">IRC Account</label>
                        <input type="text" class="form-control"
                          id="exampleInputEmail1" aria-describedby="irc account"
                          placeholder="example.org"
                          v-model="comp.users.ircAccount">
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Example select</label>
                        <select class="form-control" id="role"
                          v-model="comp.users.role">
                          <option>USER</option>
                          <option>ADMIN</option>
                          <option>OWNER</option>
                        </select>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                      data-dismiss="modal">Close</button>
                    <button @click="editUser" type="button" class="btn
                      btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div> <!-- End modal -->
            <!-- Modal -->
            <div class="modal fade" id="addUserModal" tabindex="-1"
              role="dialog" aria-labelledby="label"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="label">Add User</h5>
                    <button type="button" class="close" data-dismiss="modal"
                      aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="ircAccount">IRC Account</label>
                        <input type="text" class="form-control"
                          id="exampleInputEmail1" aria-describedby="irc account"
                          placeholder="example.org"
                          v-model="comp.users.ircAccount">
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="text" class="form-control"
                          id="password" placeholder="password"
                          v-model="comp.users.password">
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Example select</label>
                        <select class="form-control" id="role"
                          v-model="comp.users.role">
                          <option>USER</option>
                          <option>ADMIN</option>
                          <option>OWNER</option>
                        </select>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                      data-dismiss="modal">Close</button>
                    <button @click="addUser" type="button" class="btn
                      btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div> <!-- End modal -->
          </div> <!-- End Userx  -->
          <!-- Ignore List -->
          <div v-if="comp.active === 'ignore'">
            <h1>Ignore List</h1>
            <button @click="getIgnoreList" class="btn btn-dark">Refresh</button>
            <button type="button" class="btn btn-primary float-right"
              data-toggle="modal"
              data-target="#addIgnoreModal">
              Add Ignore
            </button>
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th scope="col">_id</th>
                  <th scope="col">Host</th>
                  <th scope="col">Reason</th>
                  <th scope="col">Timestamp</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="ignore in ignorelist" :key="ignore._id.toString()">
                  <th scope="row">{{ignore._id.toString()}}</th>
                  <td>{{ignore.host}}</td>
                  <td>{{ignore.reason}}</td>
                  <td>{{ignore.time}}</td>
                  <td><button @click="removeIgnore(ignore._id.toString())"
                      class="btn btn-danger">Delete</button></td>
                </tr>
              </tbody>
            </table>

            <!-- Modal -->
            <div class="modal fade" id="addIgnoreModal" tabindex="-1"
              role="dialog" aria-labelledby="label"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="label">Add Ignore</h5>
                    <button type="button" class="close" data-dismiss="modal"
                      aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="host">Host</label>
                        <input type="text" class="form-control"
                          id="exampleInputEmail1" aria-describedby="host"
                          placeholder="example.org"
                          v-model="comp.ignorelist.host">
                      </div>
                      <div class="form-group">
                        <label for="reason">Reason</label>
                        <input type="text" class="form-control"
                          id="reason" placeholder="Spamming"
                          v-model="comp.ignorelist.reason">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                      data-dismiss="modal">Close</button>
                    <button @click="addIgnore" type="button" class="btn
                      btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div> <!-- End modal -->
          </div> <!-- End Ignorelist  -->
          <div v-if="comp.active.startsWith('plugin')">
            <iframe width="100%" height="100%" frameBorder="0" :src="comp.active
              + '/settings'"></iframe>
          </div> <!-- End Plugins -->
        </div>
      </div>
    </div>
  </body>
  <script>
  alertify.set('notifier','position', 'top-right');
  new Vue({
    el: "#app",
    data: {
      message: "Hey!",
      users: [],
      plugins: [],
      ignorelist: [],
      comp: {
        active: 'home', // e.g settings, home, users
        ignorelist: {
          host: "",
          reason: ""
        },
        users: {
          id: "",
          ircAccount: "",
          password: "",
          role: ""
        },
      }
    },
    methods: {
      getUsers() {
        const _this = this
        axios.get('/api/v1/admin/users', {withCredentials: true}).then((response) => {
          _this.users = response.data.users
        })
      },
      getPlugins() {
        const _this = this
        axios.get('/api/v1/admin/info/plugins', {withCredentials: true}).then((response) => {
          _this.plugins = response.data.plugins
        })
      },
      getIgnoreList() {
        const _this = this
        axios.get('/api/v1/admin/ignorelist', {withCredentials: true}).then((response) => {
          _this.ignorelist = response.data.ignorelist
        })
      },
      removeIgnore(id) {
        const _this = this
        axios.delete(`/api/v1/admin/ignorelist/${id}`, {withCredentials: true}).then((response) => {
          _this.getIgnoreList()
        })
      },
      addIgnore() {
        const _this = this
        axios.put(`/api/v1/admin/ignorelist`, {
          host: this.comp.ignorelist.host,
          reason: this.comp.ignorelist.reason
        }, {withCredentials: true}).then((response) => {
          _this.getIgnoreList()
          alertify.notify('sample', 'success', 5, function(){  console.log('dismissed'); });
        })
      },
      removeUser(username) {
        const _this = this
        axios.delete(`/api/v1/admin/user/${username}`, {withCredentials: true}).then((response) => {
          _this.getUsers()
        })
      },
      editUser() {
        const _this = this
        axios.put(`/api/v1/admin/user/${this.comp.users.id}`,{
          ircAccount: this.comp.users.ircAccount,
          role: this.comp.users.role
        },
        {withCredentials: true}).then((response) => {
          console.log(response)
          _this.getUsers()
        }).catch((err) => {console.error(err)})
      },
      openEditUserModal(id, ircAccount, role) {
        this.comp.users.id = id
        this.comp.users.ircAccount = ircAccount
        this.comp.users.role = role
        $('#editUserModal').modal('toggle')
      },
      addUser() {
        const _this = this
        axios.post(`/api/v1/admin/user`,{
          ircAccount: this.comp.users.ircAccount,
          password: this.comp.users.password,
          role: this.comp.users.role
        },
        {withCredentials: true}).then((response) => {
          console.log(response)
          _this.getUsers()
        }).catch((err) => {console.error(err)})
      },
      restart() {
        axios.post('/api/v1/admin/function/restart', {withCredentials: true}).then((response) => {
          console.log(response)
        })
      }
    },
    mounted() {
      this.getPlugins()
      this.getUsers()
      this.getIgnoreList()
    }
  })
        </script>
</html>